.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
   background-image: url(/src/images/background.jpg);
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #8a2be2;
    border-bottom: 5px solid #800080;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid #970b97;
}
.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #8a2be2;
}
.enemy {
    background-color: #800080;
    background-size: cover;
    background-image: url('https://mrbeatriz.github.io/Game-dio-desafio/src/images/Enemy.png');
}
.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-time h2:nth-child(2)
.menu-score h2:nth-child(2) {
margin-top: 1rem;

}


















